<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hexacopter_launch)/worlds/typhoon_ardupilot.world"/>
  </include>
  <node pkg="hexacopter_launch" type="start_ardupilot.sh" name="ardupilot" output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find hexacopter_launch)/rviz/depth_camera.rviz" />
</launch>
